@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.main {
  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    margin-top: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__value {
    margin-top: 68px;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 112px;
    color: black;
  }
  &__add {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    width: 216px;
    height: 47px;
  }
  &__subtract {
    font-weight: 500;
    font-size: 14px;
    color: #f5e5e7;
    background: none;
    background-origin: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 37px;
    width: 216px;
    height: 47px;
    cursor: pointer;
  }
  &__glass {
    background-image: url(../assets/img/water-glass.svg);
    background-size: cover;
    width: 280px;
    height: 280px;
  }
  &__center {
    background: red;
  }
}
